[Desktop Entry]
Version=0.1
Type=Application
Terminal=true
Name=Tmux
Keywords=term;tmux;command;cmd;
Icon=terminix
Categories=GNOME;TerminalEmulator;
Exec=/home/ric/.termric.sh
StartupNotify=true
